{% extends "layout.njk" %}

{% block content %}
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Big Lottery Fund Dashboard</a>
    <span class="navbar-text">
      <strong>{{ githubStatuses.issues.length }}</strong> open issues •
      <strong>{{ githubStatuses.pullRequests.length }}</strong> PRs •
      <strong>{{ githubStatuses.branches.length }}</strong> branches
    </span>
  </header>

  <main class="container mt-2">
    <div class="row mb-2">
      {% for status in appStatuses %}
        <div class="col-sm-6">
          <h3>
            Web ({{ status.title }})
            <small>
              <a href="{{ status.url }}/status">status</a> |
              <a href="{{ status.url }}/status/pages">pagelist</a>
            </small>
          </h3>
          <pre class="pre-scrollable bg-light p-1">{{ status.response | dump(2) }}</pre>
        </div>
      {% endfor %}
    </div>

    <div class="row mb-2">
      {% for status in cmsStatuses %}
        <div class="col-sm-6">
          <h3>
            CMS ({{ status.EnvironmentName }})
            <small><span class="badge {% if status.Health === 'Green' %}badge-success{% else %}badge-danger{% endif %}">
              {{ status.Health}}
            </span></small>
          </h3>
          <pre class="pre-scrollable bg-light p-1">{{ status | dump(2) }}</pre>
        </div>

      {% endfor %}
    </div>

    <div class="row rounded mb-4">
        <div class="col-sm-6">
          <h3>Peformance (new)</h3>
          <div class="text-center bg-light p-3">
            <div id="js-perf-new">Loading...</div>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Peformance (legacy)</h3>
          <div class="text-center bg-light p-4">
            <div id="js-perf-legacy">Loading...</div>
          </div>
        </div>
    </div>
  </main>

  <script src="/public/javascripts/main.js"></script>
  <script>
    Dashboard.init({
      pagespeedKey: "{{ pagespeedKey }}"
    });
  </script>
{% endblock %}
