{% extends "layout.njk" %}

{% macro elasticBeanstalkStatus(appStatuses) %}
  {% set colSpan = 12 / appStatuses.length | round %}
  {% for status in appStatuses %}
    <div class="col-sm-{{ colSpan }}">
      <h5>
        {{ status.EnvironmentName }}
        <small><span class="badge {% if status.Health === 'Green' %}badge-success{% else %}badge-danger{% endif %}">
              {{ status.Health}}
            </span></small>
      </h5>
      <pre class="pre-scrollable bg-light p-1">{
  "EnvironmentName": "{{ status.EnvironmentName }}",
  "Status": "{{ status.Status }}",
  "DateUpdated": {{ moment(status.DateUpdated).format('dddd, MMMM Do YYYY, h:mm:ss a') }},
  "LastDeployed": {{ moment(status.DateUpdated).fromNow() }},
  "VersionLabel": "{{ status.VersionLabel }}"
}</pre>
    </div>

  {% endfor %}
{% endmacro %}

{% block content %}
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Big Lottery Fund Dashboard</a>
    <div class="navbar-text">
      <a href="{{ githubStatuses.links.issues }}">
        <strong>{{ githubStatuses.issues.length }}</strong> open issues
      </a> •
      <a href="{{ githubStatuses.links.pullRequests }}">
        <strong>{{ githubStatuses.pullRequests.length }}</strong> PR{% if githubStatuses.pullRequests.length > 1 or githubStatuses.pullRequests.length === 0 %}s{% endif %}
      </a> •
      <a href="{{ githubStatuses.links.branches }}">
        <strong>{{ githubStatuses.branches.length }}</strong> branch{% if githubStatuses.branches.length > 1 or githubStatuses.branches.length === 0 %}es{% endif %}
      </a>
    </div>
  </header>

  <main class="container mt-2">
    <h2 class="mb-3">Website</h2>
    <div class="row mb-2">
      {% for status in appStatuses %}
        <div class="col-sm-6">
          <h5>
            {{ status.title | capitalize }}
            <small>
              <a href="{{ status.url }}/status">status</a> |
              <a href="{{ status.url }}/status/pages">pagelist</a>
            </small>
          </h5>
          <pre class="pre-scrollable bg-light p-1">{{ status.response | dump(2) }}</pre>
        </div>
      {% endfor %}
    </div>

    <h2 class="mb-3">CMS</h2>
    <div class="row mb-2">
      {{ elasticBeanstalkStatus(cmsStatuses) }}
    </div>

    <h2 class="mb-3">Applications Service</h2>
    <div class="row mb-2">
      {{ elasticBeanstalkStatus(applicationStatuses) }}
    </div>

    <h2 class="mb-3">Site performance</h2>
    <div class="mb-4">
      <div class="text-center bg-light p-3">
        <div id="js-perf-new">Loading...</div>
      </div>
    </div>
  </main>

  <script src="/public/javascripts/main.js"></script>
  <script>
    Dashboard.init({
      pagespeedKey: "{{ pagespeedKey }}"
    });
  </script>
{% endblock %}
